html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    }
body, div, h1, form, input, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    }
.main-block {
    max-width: 340px; 
    min-height: 460px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
    margin-top: 50px;
    }
form {
    margin: 0 30px;
    }
h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
hr {
    color: #a9a9a9;
    opacity: 0.3;
    }
input[type=text], input[type=time] {
    width: calc(100% - 0px);
    height: 36px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
    margin-top: 30px;
    }
button {
    width: 100%;
    padding: 10px 0;
    margin: 30px auto;
    border-radius: 5px; 
    border: none;
    background: #1c87c9; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }

